#slide {
  width: 100vw;
  /* height:600px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0px 2px 0px;
  background-color: #050d11;
}

#trailer_text {
  width: 100%;
  height: 50px;
  border-bottom: 5px solid rgba(253, 155, 0, 1);
  font-weight: bold;
  background-color: white;
}

#trailer_text > p {
  margin-left: 30px;
  color: rgba(253, 155, 0, 1);
}

.content {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slideImgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-position: center;
}

.slideImgBox > img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btm-sliders {
  position: absolute;
  display: flex;
  bottom: 0;
  margin-bottom: 40px;
}

.btm-sliders > span {
  height: 10px;
  width: 25px;
  background-color: white;
  margin: 0px 9px;
  cursor: pointer;
  border-radius: 30px;
}

.content .slide {
  cursor: pointer;
  transition: 1s;
  width: 70px;
  height: 70px;
  position: absolute;
}

.content .slide:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: 1s;
}
.content .left {
  left: 0;
  margin-left: 30px;
}
.content .right {
  right: 0;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    height: 31vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slideImgBox > img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

  #trailer_text {
    font-size: 13px;
    height: 40px;
  }
}
