#trailer {
  width:100vw;
  height:50vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#trailer > div {
  width:350px;
  height:320px;
  border: 4px solid rgba(253, 155, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#trailerImage_01  {
  background-image: url(../image/preview-1326.jpg);
  background-position: center;
  background-size: cover;
}



#trailerImage_01 > div {
  width:100%;
  height:80px;
  background-color: #212932;
  font-size: 15px;
}

#trailerImage_01 > div > p {
  margin: 0px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
}

#trailerImage_02 > div {
  width:100%;
  height:80px;
  background-color: #212932;
  font-size: 15px;

}

#trailerImage_02  {
  background-image: url(../image/preview-1327.jpg);
  background-position: center;
  background-size: cover;
}


#trailerImage_02 > div > p {
  margin: 0px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
}