#trailer {
  width:100vw;
  height:50vh;
  background-color: #15151A;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#trailer > div {
  width:350px;
  height:320px;
  border: 1px solid rgba(253, 155, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#trailer_text {
  width:100%;
  height: 60px;
  border-bottom: 5px solid rgba(253, 155, 0, 1);
  font-weight: bold;
  background-color: white;
}

#trailer_text > p {
  margin-left: 30px;
  color: rgba(253, 155, 0, 1);
}

/*** 슬라이드를 구현해볼까 함 ***/

#trailerImage_01  {
  background-image: url(../image/preview-1326.jpg);
  background-position: center;
  background-size: cover;
}

#trailerImage_01 > div {
  width:100%;
  height:80px;
  background-color: #15151A;
  font-size: 15px;
  opacity: 0.8;
}

#trailerImage_01 > div > p {
  margin: 0px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
}

#trailerImage_02 > div {
  width:100%;
  height:80px;
  background-color: #15151A;
  font-size: 15px;
  opacity: 0.8;
}

#trailerImage_02  {
  background-image: url(../image/preview-1327.jpg);
  background-position: center;
  background-size: cover;
}


#trailerImage_02 > div > p {
  margin: 0px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
}

@media screen and (max-width:768px) {
  #trailer_text > p {
    font-size: 13px;
    transition: 0.5s;
  }
  #trailer {
    flex-direction: column;
    justify-content: space-evenly;
    height:80vh;
    transition: 0.5s;
  }
  #trailer > div {
    width:75%;
    height:40%;
    transition: 0.5s;
  }
  #trailer > div > div {
    font-size: 14px;
    transition: 0.5s;
  }
  #trailer_text {
    height: 40px;
    transition: 0.5s;

  }
}