#viewMore {
  width:90px;
  height:40px;
  background-color: rgba(253, 155, 0, 1);
  display: flex;
  align-items: center;
  color: #212932;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 60px;
}

@media screen and (max-width:768px){
  #viewMore {
    width:80px;
    height:35px;
    transition: 0.5s;
    font-size: 14px;
  }
  
}
